<h1 class="display-4">Weather for {{ $ctrl.weatherSource.location }}</h1>

<ul class="day-tab-container flex-container">
    <div class="day-tab flex-item" ng-class="{ selected: $index==$ctrl.selectedIndex }" ng-repeat="day in $ctrl.weatherSource.days" ng-click="$ctrl.setHours($index, day)">
        <span class="day-tab-title">{{day.title}}</span>
    </div>
</ul>

<p ng-if="$ctrl.hours.length==0" class="lead text-center">Select a day to see its weather.</p>
<ul class="hour-list flex-container">
    <li class="hour-list-item flex-item" ng-repeat="hour in $ctrl.hours">
        <img ng-src="{{ 'http://openweathermap.org/img/w/' + hour.weather[0].icon + '.png' }}" alt="{{hour.weather[0].description}}">
        <p class="lead">At around {{ hour.dt_txt.split(" ")[1] }}, expect {{ hour.weather[0].description }}.</p>
        <p class="">Temperature will be {{ hour.main.temp }}&deg;C, with a high of {{ hour.main.temp_max }}&deg;C and low of {{ hour.main.temp_min
            }}&deg;C and humidity {{ hour.main.humidity }}%.</p>
        <p ng-if="hour.wind" class="">Wind speed will be {{ hour.wind.speed }} knots.</p>
    </li>
</ul>