<div class="jumbotron">
    <h1>Welcome to</h1>
    <h1 class="display-1">My Weather App!</h1>
    <p class="lead">Click the button to fetch the forecast.</p>
    <button class="btn btn-primary" ng-click="$ctrl.load()">Load</button>
    <p ng-if="$ctrl.remote.isLoading">fetching forecast...</p>
</div>
    