<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather App</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="main.css" rel="stylesheet">
</head>

<body ng-app="WeatherApp">

    <div class="container" ng-controller="mainController as $ctrl">

        <welcome-banner ng-if="!$ctrl.ready"></welcome-banner>

        <day-list ng-if="$ctrl.ready"></day-list>

    </div>

    <!-- Yaay scripts! -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="_module.js"></script>
    <script src="main.js"></script>
    <script src="services/weatherSource.js"></script>
    <script src="services/OWMApiUrl.js"></script>
    <script src="components/welcomeBanner.js"></script>
    <script src="components/dayList.js"></script>
    

</body>

</html>