.day-tab-container.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: center;
}

.day-tab.flex-item {
    height: 6rem;
    width: 6rem;
    padding: 1.6rem;

    /* display: inline-block; */

    border: thin solid transparent;
    border-bottom-color: teal;

    line-height: initial;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    flex-grow: 1;
}
.day-tab.selected {
    border: thin solid teal;
    border-bottom-color: transparent;
}

.hour-list.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }
  
.hour-list-item.flex-item {
    background: teal;
    padding: 0.6rem;
    width: 16rem;
    height: 20rem;
    margin-top: 1rem;
    line-height: initial;
    color: white;
    font-size: 1rem;
    text-align: center;
}